html {
  font-size: 8px;
  /* background-color: var(--backgroundColor); */
}

@media (min-width: 544px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

:root {
  --mainBrown: #A0522D;
  --backgroundColor: #7cc1ac;
  --cardsColor: #E27D5F;
  --navbarColor: #E27D5F;
  --workSpaceColor: #E8A87C;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background-color: var(--backgroundColor) !important;
}

