.search-field {
  background-color: aqua;
}

.workspace {
  background-color: brown;
}

.sidebar {
  background-color: rgb(247, 247, 247);
}

.sidebar-item {

  border: 1px solid black;
}

.sidebar-item__title {
  overflow:hidden;
  max-width: 150px;
  white-space:nowrap;
  text-overflow:ellipsis;
  
}

.sidebar-item__title:hover {
  overflow:visible;

}